@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col p-4 rounded-2xl bg-container dark:bg-container-dark">
	<h1 class="text-2xl font-black text-foreground-accent dark:text-foreground-accentdark">Hello, world!</h1>
	<h1 class="text-sm font-semibold text-foreground dark:text-foreground-dark">Welcome to your new app.</h1>
</div>