@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col p-4 rounded-2xl bg-container dark:bg-container-dark">
	<h1 class="text-2xl font-black text-foreground-accent dark:text-foreground-accentdark">Welcome!</h1>
	<h1 class="text-sm font-semibold text-foreground dark:text-foreground-dark">This app was built with <strong class="font-black text-primary-600 dark:text-teal-600">NET.8 Blazor</strong>, <strong class="font-black text-primary-600 dark:text-teal-600">Mudblazor</strong> and <strong class="font-black text-primary-600 dark:text-teal-600">Tailwind</strong>.</h1>
</div>