<MudNavMenu Class="mt-6">
	<div class="flex flex-none flex-col gap-y-7">
		<div class="space-y-1">
			<MudNavLink Href="/"
						Match="NavLinkMatch.All"
						Class="rounded-2xl text-foreground hover:dark:bg-container-dark"
						ActiveClass="text-primary dark:text-foreground-accentdark [&_svg]:!text-primary dark:[&_svg]:!text-foreground-accentdark !bg-hover dark:!bg-container-dark hover:dark:bg-container-dark">
				<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
					 viewBox="0 0 24 24"
					 fill="none"
					 stroke="currentColor"
					 stroke-width="1.5"
					 stroke-linecap="round"
					 stroke-linejoin="round">
					<path d="M9.44085 19.8937V17.1294C9.44474 16.424 10.0169 15.8538 10.7223 15.8529H13.3201C14.0285 15.849 14.6064 16.4211 14.6093 17.1294V19.8985C14.6103 20.4979 15.09 20.9873 15.6893 21H17.4213C19.1386 21.0097 20.5397 19.6251 20.5494 17.9078C20.5494 17.9068 20.5494 17.9059 20.5494 17.9059V10.0539C20.5377 9.38156 20.2186 8.75106 19.6834 8.34435L13.7619 3.61663C12.7218 2.79446 11.2525 2.79446 10.2124 3.61663L4.31517 8.34825C3.77711 8.75495 3.457 9.38739 3.44922 10.0626V17.9049C3.45798 19.6222 4.85713 21.0087 6.57541 21H8.30927C8.92322 21.0029 9.42334 20.5076 9.42626 19.8937" />
				</svg>
				Home
			</MudNavLink>
		</div>

		<div>
			<div class="pl-2 whitespace-nowrap text-xs font-semibold leading-6 text-default-400 dark:text-default-300">
				Human Resources
			</div>
			<div class="mt-2 space-y-1">
				<MudNavLink Href="#"
							Match="NavLinkMatch.All"
							Class="rounded-2xl text-foreground hover:dark:bg-container-dark"
							ActiveClass="text-primary dark:text-foreground-accentdark [&_svg]:!text-primary dark:[&_svg]:!text-foreground-accentdark !bg-hover dark:!bg-container-dark hover:dark:bg-container-dark">
					<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
						 viewBox="0 0 24 24"
						 fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7178 3.11865H8.28314C5.34378 3.11865 3.5 5.19984 3.5 8.14503V16.0923C3.5 19.0375 5.33503 21.1187 8.28314 21.1187H16.7169C19.6659 21.1187 21.5 19.0375 21.5 16.0923V8.14503C21.5 5.19984 19.6659 3.11865 16.7178 3.11865Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M8.34196 16.9983V16.0107" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M12.5002 16.9975V14.3267" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M16.6579 16.9971V12.6431" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M16.6602 7.23877L16.2837 7.67758C14.2093 10.0974 11.4344 11.8137 8.34229 12.5862" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M14.4668 7.23877H16.6589V9.4299" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Reports and Analytics
				</MudNavLink>

				<MudNavLink Href="#"
							Match="NavLinkMatch.All"
							Class="rounded-2xl text-foreground hover:dark:bg-container-dark"
							ActiveClass="text-primary dark:text-foreground-accentdark [&_svg]:!text-primary dark:[&_svg]:!text-foreground-accentdark !bg-hover dark:!bg-container-dark hover:dark:bg-container-dark">
					<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
						 viewBox="0 0 24 24"
						 fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1872 14.875C9.06499 14.875 6.40234 15.3854 6.40234 17.4278C6.40234 19.4713 9.05075 19.999 12.1872 19.999C15.3073 19.999 17.972 19.4876 17.972 17.4451C17.972 15.4037 15.3246 14.875 12.1872 14.875Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1814 7.99549C16.1814 10.2016 14.3931 11.991 12.1859 11.991C9.97972 11.991 8.19141 10.2016 8.19141 7.99549C8.19141 5.78933 9.97972 4 12.1859 4C14.3931 4 16.1814 5.78933 16.1814 7.99549Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M5.68425 13.4258H5.67612C3.95186 13.6942 2.74609 14.3215 2.74609 15.5862C2.74609 16.2389 3.07041 16.7228 3.62449 17.0736" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M18.6172 13.4258H18.6253C20.3496 13.6942 21.5553 14.3215 21.5553 15.5862C21.5553 16.2389 21.231 16.7228 20.6769 17.0736" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M18.3075 10.4081C19.5813 9.93131 20.3164 8.56288 19.9717 7.21478C19.6932 6.12492 18.7894 5.3614 17.7422 5.21094" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M5.99327 10.4081C4.71939 9.93131 3.98435 8.56288 4.32899 7.21478C4.60756 6.12492 5.51137 5.3614 6.55854 5.21094" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Employees
				</MudNavLink>

				<MudNavLink Href="/rh/shifts"
							Match="NavLinkMatch.All"
							Class="rounded-2xl text-foreground hover:dark:bg-container-dark"
							ActiveClass="text-primary dark:text-foreground-accentdark [&_svg]:!text-primary dark:[&_svg]:!text-foreground-accentdark !bg-hover dark:!bg-container-dark hover:dark:bg-container-dark">
					<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
						 viewBox="0 0 24 24"
						 fill="none">
						<path d="M4.23047 9.46306H19.9288" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M15.6081 3V5.87229" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M8.55535 3V5.87229" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M19.9327 11.364V8.43046C19.9404 5.80629 18.3477 4.37793 15.777 4.37793H8.38708C5.82324 4.37793 4.22266 5.80629 4.22266 8.43046V16.3293C4.22266 18.9943 5.82324 20.4557 8.38708 20.4557H10.5374" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path fill-rule="evenodd" clip-rule="evenodd" d="M20.7861 17.1382C20.7861 19.271 19.0571 21 16.9233 21C14.7905 21 13.0615 19.271 13.0615 17.1382C13.0615 15.0054 14.7905 13.2754 16.9233 13.2754C19.0571 13.2754 20.7861 15.0054 20.7861 17.1382Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M18.123 18.142L16.9019 17.4122V15.8428" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M8.16992 12.9414H8.17992" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M8.16992 16.418H8.17992" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M11.8379 12.9414H11.8479" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Shifts
				</MudNavLink>

				<MudNavLink Href="#"
							Match="NavLinkMatch.All"
							Class="rounded-2xl text-foreground hover:dark:bg-container-dark"
							ActiveClass="text-primary dark:text-foreground-accentdark [&_svg]:!text-primary dark:[&_svg]:!text-foreground-accentdark !bg-hover dark:!bg-container-dark hover:dark:bg-container-dark">
					<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
						 viewBox="0 0 24 24"
						 fill="none">
						<path d="M20.1578 7.56582C18.0528 3.85782 13.5638 2.05382 9.38375 3.49682C4.69375 5.11982 2.19875 10.2418 3.82175 14.9318C5.43575 19.6318 10.5568 22.1278 15.2568 20.5038C18.1638 19.5018 20.2278 17.1668 20.9898 14.4108" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M20.4001 4.27148V7.57048H17.1191" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M15.1506 14.5692L11.9766 12.6722V8.57422" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Attendance
				</MudNavLink>

				<MudNavLink Href="#"
							Match="NavLinkMatch.All"
							Class="rounded-2xl text-foreground hover:dark:bg-container-dark"
							ActiveClass="text-primary dark:text-foreground-accentdark [&_svg]:!text-primary dark:[&_svg]:!text-foreground-accentdark !bg-hover dark:!bg-container-dark hover:dark:bg-container-dark">
					<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
						 viewBox="0 0 24 24"
						 fill="none">
						<path d="M4.48779 9.66422H20.5293" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M16.1447 3V5.96174" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M8.8737 3V5.96174" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path fill-rule="evenodd" clip-rule="evenodd" d="M16.3184 4.42188H8.69804C6.05446 4.42188 4.4043 5.89399 4.4043 8.59984V16.7456C4.4043 19.4943 6.05446 21.0004 8.69804 21.0004H16.3106C18.962 21.0004 20.6044 19.5205 20.6044 16.8137V8.59984C20.6121 5.89399 18.9698 4.42188 16.3184 4.42188Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M10.3638 15.084L12.119 16.8421L15.7356 13.2236" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					Leave
				</MudNavLink>
			</div>
		</div>

		<MudSpacer />

		<MudNavLink Href="#"
					Match="NavLinkMatch.All"
					Class="rounded-2xl text-foreground"
					ActiveClass="text-primary [&_svg]:!text-primary bg-hover">
			<svg class="h-5 w-5 shrink-0 !text-neutral-500 dark:text-default-300 group-hover:dark:text-secondary-200"
				 viewBox="0 0 24 24"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round">
				<path d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
				<path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
			</svg>
			Settings
		</MudNavLink>
	</div>
</MudNavMenu>