<div class="flex items-center justify-between">
	<div class="flex sticky left-0 items-center gap-2 sm:gap-3">
		<span class="pl-6 font-black text-base text-foreground-accent dark:text-foreground-accentdark">
			@GroupName
		</span>
		<span class="text-xs font-light text-foreground dark:text-foreground-dark">
			@TotalGroupHours Hrs
		</span>

		<div class="flex">
			<svg class="h-4 w-4"
				 viewBox="0 0 25 24"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-miterlimit="10">
				<path d="M5.87184 19.5447C4.64406 19.5447 3.90213 18.6623 3.84961 17.4331C3.84961 14.9312 6.29424 14.0682 9.97759 14.0391C13.6675 14.0779 16.1187 14.9409 16.1056 17.4331C16.0465 18.6623 15.3089 19.5447 14.0833 19.5447H5.87184Z" />
				<path stroke-linecap="round" d="M18.6429 18.8155H20.2088C21.2028 18.8155 21.801 18.0998 21.8489 17.1029C21.8582 15.3462 20.3577 14.5876 18 14.3984" />
				<path d="M9.95838 10.9011C11.7379 10.9011 13.1804 9.45857 13.1804 7.67908C13.1804 5.89959 11.7379 4.45703 9.95838 4.45703C8.17889 4.45703 6.73633 5.89959 6.73633 7.67908C6.73633 9.45857 8.17889 10.9011 9.95838 10.9011Z" />
				<path d="M17.9854 10.7598C19.1444 10.7598 20.084 9.82018 20.084 8.66113C20.084 7.50209 19.1444 6.5625 17.9854 6.5625C16.8263 6.5625 15.8867 7.50209 15.8867 8.66113C15.8867 9.82018 16.8263 10.7598 17.9854 10.7598Z" />
			</svg>
			<span class="ml-1 text-xs font-light text-foreground dark:text-foreground-dark">
				@PeopleCount
			</span>
		</div>

		<Divider Vertical="true"
				 Class="hidden md:flex h-[1.5rem]" />

		<MudMenu @onclick:stopPropagation="true"
				 DisableElevation="true"
				 AnchorOrigin="Origin.BottomRight"
				 TransformOrigin="Origin.TopRight"
				 PopoverClass="w-56 !mt-3 !shadow-lg rounded-2xl ring-1 ring-black dark:ring-border-dark ring-opacity-5 dark:bg-background-dark"
				 ListClass="!p-2">
			<ActivatorContent>
				<MudElement class="mud-ripple group p-2 rounded-full shadow-lg text-sm font-semibold bg-surface dark:bg-surface-dark">
					<svg class="h-6 w-6 group-hover:text-primary group-hover:dark:text-primary-400 text-foreground text-foreground-dark"
						 viewBox="0 0 25 25"
						 fill="none"
						 fill-rule="evenodd"
						 clip-rule="evenodd"
						 stroke="currentColor"
						 stroke-width="1.5"
						 stroke-linecap="round"
						 stroke-linejoin="round">
						<path d="M6.5 12.7656C6.5 13.3176 6.052 13.7656 5.5 13.7656C4.948 13.7656 4.5 13.3176 4.5 12.7656C4.5 12.2136 4.948 11.7656 5.5 11.7656C6.052 11.7656 6.5 12.2136 6.5 12.7656Z" />
						<path d="M13.5 12.7656C13.5 13.3176 13.052 13.7656 12.5 13.7656C11.948 13.7656 11.5 13.3176 11.5 12.7656C11.5 12.2136 11.948 11.7656 12.5 11.7656C13.052 11.7656 13.5 12.2136 13.5 12.7656Z" />
						<path d="M20.5 12.7656C20.5 13.3176 20.052 13.7656 19.5 13.7656C18.948 13.7656 18.5 13.3176 18.5 12.7656C18.5 12.2136 18.948 11.7656 19.5 11.7656C20.052 11.7656 20.5 12.2136 20.5 12.7656Z" />
					</svg>
				</MudElement>
			</ActivatorContent>
			<ChildContent>
				<MudMenuItem Class="md:hidden px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark">
					<span class="text-sm text-foreground dark:text-foreground-dark">
						Add people
					</span>
				</MudMenuItem>
				<MudMenuItem Class="px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark">
					<span class="text-sm text-foreground dark:text-foreground-dark">
						Rename group
					</span>
				</MudMenuItem>
				<MudMenuItem Class="px-4 py-3 rounded-2xl hover:bg-hover hover:dark:bg-container-dark">
					<span class="text-sm text-foreground dark:text-foreground-dark">
						Delete group
					</span>
				</MudMenuItem>
			</ChildContent>
		</MudMenu>
	</div>

	<div class="flex sticky right-0 items-center">
		<CustomButton Elevation="true"
					  Rounded="true"
					  Class="max-sm:hidden mr-6 px-6 py-3 text-xs font-semibold text-foreground-accent dark:text-foreground-dark hover:text-primary hover:dark:text-primary-400 bg-white dark:bg-surface-dark">
			<svg class="w-6 h-6 mr-1"
				 viewBox="0 0 25 24"
				 fill="none"
				 stroke="currentColor"
				 stroke-width="1.5"
				 stroke-linecap="round"
				 stroke-linejoin="round"
				 stroke-miterlimit="10">
				<path d="M18.7829 7.90234V12.5444M21.1508 10.2231H16.416" />
				<path d="M5.46835 19.8768C4.06102 19.8768 3.2106 18.9636 3.15039 17.6917C3.15039 15.1029 5.95251 14.2098 10.1745 14.1797C14.404 14.2198 17.2137 15.1129 17.1986 17.6917C17.1309 18.9636 16.2855 19.8768 14.8807 19.8768H5.46835Z" />
				<path d="M10.1805 11.2244C12.141 11.2244 13.7302 9.63513 13.7302 7.67469C13.7302 5.71425 12.141 4.125 10.1805 4.125C8.22011 4.125 6.63086 5.71425 6.63086 7.67469C6.63086 9.63513 8.22011 11.2244 10.1805 11.2244Z" />
			</svg>
			Add People
		</CustomButton>
	</div>
</div>

@namespace GOPS.Blazor.Server.Components.Internal

@code {
	[CascadingParameter]
	private Scheduler? Scheduler { get; set; }

	[Parameter]
	public string GroupName { get; set; } = "Unnamed Group";

	[Parameter]
	public int PeopleCount { get; set; }

	[Parameter]
	public int TotalGroupHours { get; set; }
}
