<div class="flex-grow @Class" style="@Style"></div>

@namespace GOPS.Blazor.Server.Components

@code {
	[Parameter]
	public string? Class { get; set; }

	[Parameter]
	public string? Style { get; set; }
}